
<div class="row">
    <div class="col-12">
        <carousel [isAnimated]="true">
            <slide>
              <img src="./assets/Banner 1.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="./assets/Banner 2.jpg" alt="second slide" style="display: block; width: 100%;">
            </slide>
        </carousel>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-12">
        <img src="./assets/mision vision.jpg" width="100%" alt="">
    </div>
</div>

<br><br>

<div class="jumbotron text-center" *ngIf = "fetching">
  <fa-icon style="color: blue;" [icon]="faSpinner" [spin] = 'true' size="4x"></fa-icon>
</div>

<div *ngFor = "let item of startList;index as i" class="row">
        <div class="col-12">
                <br *ngIf = "item.titulo">
                <br *ngIf = "item.titulo">
                <h3 class="title p-2" *ngIf = "item.titulo">{{ item.titulo }}</h3>
                <h6  *ngIf = "item.descripcion">{{ item.descripcion }}</h6>
        </div>
</div>
<br><br>
<div class="row">
  <div class="col-12">
    <h3 class="title p-2 text-center">{{ 'inicio.cliente' | translate }}</h3>
  </div>
    <div class="col-12">
      <carousel [isAnimated]="true" [startFromIndex]="startIndex" [itemsPerSlide]="itemsPerSlide">
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE EISA.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE GESIME.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE MINISTERIO INDUSTRIA.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE CEDAI.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE COPEXTEL.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
        <slide class="animated fadeIn">
          <img src="./assets/CLIENTE EMTA.png" alt="image slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
</div>
<br>
