<div class="row">
  <div class="col-12">
          <img class="rounded mx-auto d-block img-fluid mt-5"  src="./assets/Mapa_Cuba con dirección.png" alt="">
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-12">
      <div class="container">
          <img class="rounded mx-auto d-block img-fluid"  src="./assets/UEB La Habana.png" alt="">
      </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-12">
      <div class="container">
          <img class="rounded mx-auto d-block img-fluid"  src="./assets/UEB Matanzas.png" alt="">
      </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-12">
      <div class="container">
          <img class="rounded mx-auto d-block img-fluid"  src="./assets/UEB Villa Clara.png" alt="">
      </div>
  </div>
</div>
<br><br><br>
