
<br>
<br>

<div class="jumbotron text-center col-12" *ngIf = "fetching">
  <fa-icon style="color: blue;" [icon]="faSpinner" [spin] = 'true' size="4x"></fa-icon>
</div>

<div class="row" *ngFor = "let item of startList;index as i">
    <div class="col-12">
        <div class="container" >
            <div class="col-4" *ngIf = "item.titulo">
                <br>
                <h5 class="text">{{ item.titulo }}</h5>
                <hr>
            </div>
            <div class="col-12" *ngIf = "item.descripcion">
                <p>{{ item.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
